/* IZANYA */
main#izanya {
    color: var(--bgon);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

div {
    padding: 16px;
}

button.b{
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    background-color: #4254F4;
    color: #f5f7f7;
    line-height: 1;
    text-transform: uppercase;
}

.splitka {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: space-evenly;

    background-color: #26308e;
}

.widtha {
    width: 400px;
    overflow: clip;
}

input {
    background-color: #4254F4;
    border: none;
    color: #f5f7f7;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
}

div#translation {
    background-color: #4254F4;
    margin-top: 5px;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
}