@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;

    scroll-behavior: auto;
}

:root {
    --head: linear-gradient(180deg, rgba(5,5,3,1) 0%, rgba(2,3,0,0) 50%);
    --bg: #e4e4e4;
    --cr: #111111;
    --bgon: #e4e4e4;
    --cron: #111111;
    --bgh: #222222;
    --bglia: #1f2881;
    --crlia: #e4e4e4;
    --w1: #3241ce;
    --hbg: #1f2881;
    --jackface: url('../img/jackboxunolight.jpeg');
    --agrey: linear-gradient(270deg, #929292, #8a8a8a, #a1a1a1);
    --bgdali: #3241ce;
    --crdali: #e4e4e4;
    --red: #ff3d3d;
    --bgvolume: linear-gradient(#1f2881, #1f2881);
    --libtn: #3241be;
    --abtn: #f5f7f7;
    --bgd: #9d2235;
    --bgt: #fbfbfb;
    --h1t: #3c3c3c;
}

:root[data-theme='dark']{
    --bg: #111111;
    --cr: #e4e4e4;
    --bglia: #111111;
    --w1: #151515;
    --hbg: #222222;
    --jackface: url('../img/jackboxunonight.jpeg');
    --agrey: linear-gradient(270deg, #434343, #323232, #3a3a3a);
    --bgdali: #e4e4e4;
    --crdali: #111111;
    --bgvolume: linear-gradient(#222222, #222222);
    --libtn: #010101;
}

body {
    background-color: var(--w1);
    color: var(--cr);
    margin: 0;
    padding: 0;
/*
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
*/
    font-size: 3vh;
    padding-bottom: 57px;
}

li {
    list-style-type: none;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;

    color: var(--cron);
}

a:hover,
a:visited {
    color: var(--cron);
}

@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}






/* WEBKIT SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--crlia);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--w1);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bglia);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}






/* JACKBOX BALTIC */

label, input {
    display: inline-block;
    vertical-align: middle;
  }
  
  input[type="text"] {
    width: 100%;
    margin-top: 5px;
  }
  #translations {
    margin-top: 20px;
  }






/* ? */
