@font-face {
    font-family: jackc;
    src: url(../css/JackCondensed.ttf);
}

@font-face {
    font-family: berkeley;
    src: url(../css/berkeley.otf);
}

* {
    font-family: jackl;
    font-size: 12px;
}

.blackc {
    background: #000;
}

body {
    background: #fdfefd;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

main .onair,
main .q,
main .b {
    margin: 16px;
}

.stand {
    display: flex;
}

.onair {
    opacity: 0;
    /* position: absolute; */
    top: 10%;
    background-color: #000;
    border: #000 solid;
    border-radius: 10px;
    width: 254px;
    text-align: center;
    padding: 4px;
}

.onair #o {
    background-color: #fff;
    border-radius: 5px;
    height: 59px;
}

.onair #o p{
    font-family: jackc;
    font-size: 60px;
    transform: translate(0px, -12px);
    color: #000;
}

.onair #s {
    border-radius: 5px;
    color: #393b39;
    height: 59px;
}

.onair #s p{
    font-family: jackc;
    font-size: 60px;
    transform: translate(0px, -10px);
}

button {
    display: inline-block;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 0 0 #00000000;
    background: #00000000;
    border-radius: 6px;
    font-size: 28px;
    font-style: normal;
    color: #d0321a;
    text-shadow:
    1px 1px 1px #000,
    -1px 1px 1px #000,
    1px -1px 1px #000,
    -1px -1px 1px #000;
}

span#styleT,
span#styleS {
    font-size: 48px;
    font-style: normal;
    color: #d0321a;
    text-shadow:
    1px 1px 1px #000,
    -1px 1px 1px #000,
    1px -1px 1px #000,
    -1px -1px 1px #000;
}

button#E,
button#Eo,
button#Ef,
button#Ed,
button#T{
    background: #eed11b;
    border: solid;
    border-top-color: rgb(231, 159, 11);
    border-right-color: #773b03;
    border-bottom-color: #773b03;
    border-left-color: rgb(231, 159, 11);
    box-shadow: 
    inset -5px -5px 3px 0px #dd9803,
    inset -7px -7px 12px 0px #e4b20c,
    inset 4px 4px 3px 0px #edbe0e;
}

button#D{
    background: #0870e3;
    border: solid;
    border-top-color: #156fd9;
    border-right-color: #01237f;
    border-bottom-color: #01237f;
    border-left-color: #156fd9;
    box-shadow: 
    inset -5px -5px 3px 0px #0858d5,
    inset -7px -7px 12px 0px #0163e1,
    inset 4px 4px 3px 0px #097aee;
}

button#F,
button#S{
    background: #006600;
    border: solid;
    border-top-color: #007404;
    border-right-color: #07320d;
    border-bottom-color: #07320d;
    border-left-color: #007404;
    box-shadow: 
    inset -5px -5px 3px 0px #005804,
    inset -7px -7px 12px 0px #006500,
    inset 4px 4px 3px 0px #00800e;
}

#t p:nth-child(1) {
    text-align: left;
}

#t p:nth-child(2) {
    text-align: center;
}

#t p:nth-child(3) {
    text-align: right;
}

.blur {
    animation: blur 6s ease-in 0s forwards;
    opacity: 1;
}

@keyframes blur {
    0% {
        filter: blur(15px);
        opacity: 0;
    }
    10% {
        filter: blur(0px);
    }
    20% {
        filter: blur(11px);
        opacity: 1;
    }
    30% {
        filter: blur(0px);
    }
    40% {
        filter: blur(8px);
    }
    50% {
        filter: blur(0px);
    }
    60% {
        filter: blur(5px);
    }
    70% {
        filter: blur(0px);
    }
    80% {
        filter: blur(0px);
    }
    90% {
        filter: blur(0px);
    }
}

.redto {
    animation: redato 0.3s ease-in 0s forwards;
}

@keyframes redato {
    0% {
        color: #393b39;
    }
    100% {
        color: #940d03;
    }
}

.red {
    animation: reda 1s infinite;
}

@keyframes reda {
    0% {
        color: #940d03;
    }
    50% {
        color: #ff1800;
    }
    100% {
        color: #940d03;
    }
}

.toc {
    opacity: 0;
}

.ft {
    animation: ft 1.5s ease-in;
    opacity: 1;
}

@keyframes ft {
    0% {
        transform: translate(-10%, -5%);
        font-size: 14px;
        filter: blur(5px);
        opacity: 0;
    }
    70% {
        transform: translate(-15%, -8%);
    }
    100% {
        transform: translate(0%, 0%);
        font-size: 60px;
        filter: blur(0px);
        opacity: 1;
    }
}

.tht {
    animation: tht 1.5s ease-in;
    opacity: 1;
}

@keyframes tht {
    0% {
        transform: translate(-4%, -2%);
        font-size: 14px;
        filter: blur(5px);
        opacity: 0;
    }
    70% {
        transform: translate(-15%, -8%);
    }
    100% {
        transform: translate(0%, 0%);
        font-size: 60px;
        filter: blur(0px);
        opacity: 1;
    }
}

#t {
    height: 144px;
}

#t p{
    font-family: berkeley;
    color: #636463;
    font-size: 60px;
    width: 350px;
    height: 42px;
}

#t p.sw{
    width: 600px;
}

.btnto {
    animation: bnt 0.5s ease-in;
    opacity: 1;
}

@keyframes bnt {
    0% {
        transform: translate(1%, 1%);
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0%);
        filter: blur(0px);
        opacity: 1;
    }
}

.otoz {
    animation: otoz 1s ease-in;
    opacity: 0;
}

@keyframes otoz {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.otozbtn {
    animation: otozbtn 1s ease-in;
    opacity: 0;
}

@keyframes otozbtn {
    0% {
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        filter: blur(5px);
    }
}