body {
    background-color: #00224D;
}

.logo a {
    font-family: 'Montserrat', sans-serif;
    margin: 1vh;
    padding: 1vh;
    font-size: 4vh;
    position: fixed;
    top: 1vh;
    left: 0;
    color: #FF204E;
    font-weight: 300;
}

a,
a:hover,
a:visited {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;
}

main {
    background-color: #FF204E;
    margin: 0vh 8vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#player {
    margin: 1vw;
    min-width: 50vw;
}