@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    scroll-behavior: auto;
}

:root {
    --c1: #2b2d42;
    --c2: #ddd;
    --c3: #edf2f4;
    --c4: #ef233c;
    --c5: #d90429;

    --sevenzero: 70dvh;
}

a,
a:hover,
a:visited {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;
    font-weight: 500;
    color: var(--c1);
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--c3);
}

.astondesmit {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
/*    margin-top: 26dvh;*/
    margin-bottom: 1dvh;
}

.title {
    font-size: 3.75dvw;
    text-align: center;
    padding: 4dvh 0 4dvh 0;
}

footer {
    margin: 5dvh 0 5dvh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    font-size: 2dvh;

    & a {
        font-weight: 700;
    }
}

#mmfilter {
    display: flex;
    flex-direction: row;
}

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 0.5dvh;
    padding: 1dvh;
    background-color: var(--c2);
    min-width: var(--sevenzero);
    max-width: var(--sevenzero);
}

#situacijalr {
    display: grid;
    column-gap: 1dvh;
}

#left {
    margin-top: 1dvh;
    grid-column: 1;
    color: var(--c1);
    font-weight: 400;
    font-size: 1.75dvh;
}
#right {
    grid-column: 2;
}

#data {
    font-size: 2.5dvh;
    color: var(--c1);
    font-weight: 500;
}

#data3 {
    margin-top: 1dvh;
    font-size: 2.5dvh;
    color: var(--c1);
}

.nosaukums, #data2 {
    font-size: 2dvh;
    color: var(--c1);
}

.situacija {
    margin-top: 1dvh;
    padding: 1dvh;
    background-color: var(--c3);
}

.situacija2 {
    display: flex;
    margin-top: 1dvh;
    padding: 1dvh;
    background-color: var(--c3);
}

.aa {
    font-size: 1.5dvh;
}

.ac {
    padding: 0.2dvh;
    border-radius: 0.25dvh;
    color: var(--c3);
    font-weight: 500;

    &.sh {
        background-color: var(--c4); 
    }
    &.pi {
        background-color: #213595;
    }
}

img {
    height: 13dvh;
}

button {
    background-color: var(--c3);
    border: none;
    margin: 0;
    padding: 0.5dvh;
    font-weight: 400;
    font-size: 1.5dvh;

    &:hover {
        background-color: var(--c1);
        color: var(--c3);
        cursor: pointer;
    }
}

.active {
    background-color: var(--c5);
    color: var(--c3);
    &:hover {
        background-color: var(--c5);
        color: var(--c3);
        cursor: default;
    }
}
 
.onlyfixed {
/*     position: fixed;
    top:0;*/
    width: 80%;
}

main {
    width: 50%;
}
h2 {
    color: var(--c1);
    font-size: 4dvh;
}
p, ol {
    margin-bottom: 1.5dvh;
}
p, li {
    font-size: 2dvh;
}
pre {
    background-color: var(--c1);
    color: var(--c3);
    padding: 1dvh;
    border-radius: 0.5dvh;
    font-size: 1.75dvh;
}

#top-metrics {
    display: none;
    width: 80%;
    & div {
        font-size: 2dvh;
    }
}
#max, #min {
    display: none;
}

@media screen and (max-width: 849px) {
    :root {
        --sevenzero: 60dvh;
    }
}
@media screen and (max-width: 749px) {
    :root {
        --sevenzero: 50dvh;
    }
}
@media screen and (max-width: 629px) {
    :root {
        --sevenzero: 40dvh;
    }
}
@media screen and (max-width: 499px) {
    :root {
        --sevenzero: 35dvh;
    }
    #left {
        grid-column: 1;
    }
    #right {
        grid-column: 1;
    }
    .situacija2 {
        flex-direction: column;
    }
    footer {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}