@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    scroll-behavior: auto;
    box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --c1: #FF204E;
    --c2: #A0153E;
    --c3: #5D0E41;
    --c4: #00224D;
    --c5: #ffeb20;
    --w: #fff;

    --cnw: 30vh;
    --cnsw: 60vh;
    --cnf: 28vh;
    --img: 20vh;

    --f6: 6vh;
    --f8: 8vh;
    --f12: 12vh;
    --hd: 80vh;
}

body {
    background-color: var(--c4);
}

a,
a:hover,
a:visited {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;
    font-weight: 500;
}

.la {
    color: var(--c2);

    &:hover {
        color: var(--c5);
    }
}

header {
    margin: 1vh;
    padding: 1vh;
    font-size: 4vh;
    position: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: 1vh;
    padding: 1vh;
    font-size: 3vh;
    color: var(--c1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    & div.t {
        color: var(--c1);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;

        & div {
            padding: 1vh;
            cursor: pointer;

            &:hover {
                color: var(--c5);
            }
        }
    }
}

section {
    scroll-snap-align: start;
    height: 100dvh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    width: 90%;
    margin: 1vh;
    padding: 1vh;
    position: relative;
}

.logo {
    color: var(--c1);
    font-weight: 300;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100dvh;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    
}

#description {
    height: 100dvh;
    display: flex;
    align-items: center;
    color: var(--c1);
    text-align: right;
    line-height: 1;
    font-weight: 600;
    font-size: var(--f6);
    
}

.desc {
    opacity: 0;
    animation: spin 1s 1s ease-in-out forwards; 
}

@keyframes spin {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    50% {
        opacity: 0.25;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes appear {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes appear2 {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1.5);
        opacity: 1;
    }
}

@keyframes appearse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hh {
    color: var(--c1);
    text-align: center;
    line-height: 1;
    font-weight: 900;
    font-size: var(--f12);
    animation: appear 1s ease-in-out forwards;

    opacity: 0;
    &.visible:first-child {
        animation: appear 1s 1s ease-in-out forwards;
    }
    &.hh-visible:first-child {
        animation: appear2 1s ease-in-out forwards;
    }

    position: absolute;
    top: 12vh;
    /*left: 1vh;
    margin: 0;*/
}

.cardlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10vh;
}

.cardlist.active-styles {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    width: 35dvh;
    padding: 0dvw;
    height: 50dvh;
    align-content: flex-start;
}

.cardlist.active-styles::-webkit-scrollbar {
    width: 0.8dvh;
}

.cardlist.active-styles::-webkit-scrollbar-thumb {
    background-color: var(--c1);
    border-radius: 1dvh;
}

.cardlist.active-styles::-webkit-scrollbar-thumb:hover {
    background-color: var(--c2);
}

.tavslaiks {
    opacity: 0;

    &.visible {
        animation: appearse 1s ease-in-out forwards;
    }
}

.cn {
    position: relative;
    display: flex;
    flex-direction: column;

    margin: 1dvh;
    padding: 1dvh;

    width: var(--cnw);
    transform: translateY(0dvh);
    word-wrap: break-word;
    opacity: 1;
    transition: all 300ms ease-in-out;
    background-color: var(--c3);

    &.odno {
        &.visible {
            background: linear-gradient(360deg, #0000 20.55%, var(--c1) 94.17%);
            background-color: var(--c1);
            &:hover {
                background-color: var(--c5);
            }
        }
    }

    &.dvo {
        &.visible {
            background: linear-gradient(180deg, #0000 20.55%, var(--c1) 94.17%);
            background-color: var(--c1);
            &:hover {
                background-color: var(--c1);
            }
        }
    }

    &:hover:after {
        opacity: 1;
    }

    &.non {
        background: rgb(255 32 78 / 0.2);
    }
}

.cn_special {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 1dvh;
    padding: 1dvh;

    width: var(--cnsw);
    height: 98%;
    transform: translateY(0dvh);
    word-wrap: break-word;
    opacity: 1;
    transition: all 300ms ease-in-out;

    & .t {
        color: var(--c1);
        font-size: 4vh;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 1vh;
    }
    
    & .tt {
        color: var(--c1);
        font-size: 6vh;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 1vh;
    }

    & .diva {
        color: var(--c4);
        padding: 1vh;
        font-size: 3vh;
    }

    &.visible {
        background: linear-gradient(0deg, #0000 7vh, var(--c4) 8vh);
        background-color: var(--c1);
    }
}

.yeaflex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.face {
    min-width: var(--cnf);
    min-height: var(--cnf);
    margin-bottom: 0.5dvh;

    &.psy {
        background-image: url('../img/psy.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.mz {
        background-image: url('../img/mz.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.nowonderwhy {
        background-image: url('../img/41iCZCwgIQL._UXNaN_FMjpg_QL85_.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    &.soilbout {
        background-image: url('../img/31aV+GfnMlL._UXNaN_FMjpg_QL85_.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.ss {
        background-image: url('../img/b5a8m2gnwphlodwcu1z3.tw5VA.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.nic {
        background-image: url('../img/n.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.ppp {
        background-image: url('../img/sheih.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.cof {
        background-image: url('../img/cof.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.izhp {
        background-image: url('../img/a0156728637_16.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.mjtd {
        background-image: url('../img/MJTD.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.t {
    color: var(--c4);
    font-size: 2vh;
    font-weight: 400;
    line-height: 1;
}

.tt {
    color: var(--c4);
    font-size: 3vh;
    font-weight: 600;
    line-height: 1;
}

.musicstreaming {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.adivlink {
    line-height: 0;
    padding: 0 0 0.5vh 0.5vh;
}

.ms {
    width: 2.5vh;
    height: 2.5vh;
}

#musiclist::-webkit-scrollbar {
    width: 0.8dvh;
}

#musiclist::-webkit-scrollbar-thumb {
    background-color: var(--c1);
    border-radius: 1dvh;
}

#musiclist::-webkit-scrollbar-thumb:hover {
    background-color: var(--c2);
}

.rednew {
    padding: 0.5dvh 0dvh;
    background-color: var(--c1);
    line-height: 0.7;
    color: var(--c5);
    font-weight: 900;
    position: fixed;
    font-size: 3.5dvh;
    top: 0.4dvh;
    left: 0.9vh;
    z-index: 90;
    /*letter-spacing: 1px;*/
}

#bbe {
    z-index: 4;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    & div {
        width: 10vh;
        height: 4vh;
        padding: 1dvw;
        font-size: 3vh;
        color: var(--c1);
        cursor: pointer;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;

        &:hover {
            color: var(--c4);
            background-color: var(--c1);
        }
    }
}

.music-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-btn {
    background: none;
    border: none;
    font-size: var(--f6);
    cursor: pointer;
    padding: 0;
}

.carousel-btn:focus {
    outline: none;
}

@media screen and (min-width: 950px){
    #musiclist {
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        width: 100%;
        height: 48dvh;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: column;
    }
    #weblist {
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        width: 100%;
        height: 54dvh;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: column;
    }
}
@media screen and (max-width: 1815px) {
    :root {
        --f6: 5vh;
    }
}
@media screen and (max-width: 1417px) {
    :root {
        --f6: 4.5vh;
    }
}
@media screen and (max-width: 979px) {
    :root {
        --f6: 4vh;
        --f12: 10vh;
    }
}
@media screen and (max-width: 719px) {
    :root {
        --f6: 3vh;
        --f12: 8vh;
    }
    #bbe {
        flex-direction: column;
    }
}
@media screen and (max-width: 460px) {
    :root {
        --f6: 2.5vh;
        --f8: 6vh;
        --hd: 70vh;

        --cnw: 25vh;
        --cnf: 23vh;
        --img: 15vh;
    }
}









::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

