@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;

    scroll-behavior: auto;
}

:root {
    --bg: #e0e0e0;
    --c1: #bebebe;
    --c2: #ffffff;

    --b1: #141414;
    --b2: #1b1b1b;

    --neuro: 0.5dvh 0.5dvh 3dvh var(--c1),
            -0.5dvh -0.5dvh 3dvh var(--c2),
            inset 0.5dvh 0.5dvh 3dvh var(--c1),
            inset -0.5dvh -0.5dvh 3dvh var(--c2);
    --ty: translateY(-7dvh);
    
    --two: 2.25dvh;
    --two2s4: 2.75dvh;
    --two3s4: 3dvh;
    --three: 3dvh;
    --three2s4: 3.45dvh;
    --four: 4dvh;
    --five: 5.5dvh;

    --cnw: 30dvh;
    --cnf: 28dvh;
    --img: 20dvh;
}

:root[data-theme='dark']{
    --bg: #313131;
    --c1: #2a2a2a;
    --c2: #383838;

    --b1: #f8f8f8;
    --b2: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--bg);
    color: var(--b1);
}

nav p {
    font-size: var(--four);
    font-weight: 400;
    text-shadow: 0 0 1dvh var(--bg);
    padding: 0.5dvh;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    margin: 1dvh;
    padding: 1dvh;
    border: none;
    border-radius: 1dvh;
    background: var(--bg);
    box-shadow: var(--neuro);

    position: sticky;
    z-index: 2;
    transform: var(--ty);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

nav:hover {
    transform: translateY(0dvh);
}

.ltor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    z-index: 1;
    margin: 1dvh;
}

h1 {
    font-size: var(--five);
    font-weight: 400;
    text-shadow: 0 0 1dvh var(--bg);
    padding: 0.5dvh;
}

.cnc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;

    color: var(--b2);
    font-weight: 500;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

a:hover,
a:visited {
    color: var(--b1);
}

::-webkit-scrollbar {
    width: 1dvh;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c2);
    box-shadow: var(--neuro);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--c1);
    box-shadow: var(--neuro);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c1);
}

::-webkit-scrollbar {
    width: 2dvh;

}


.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    margin: 1dvh;
    padding: 1dvh;
    border: none;
    border-radius: 1dvh;
    width: 90%;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.welcome img {
    width: var(--img);
    border: none;
    border-radius: 50%;
    box-shadow: 0.5dvh 0.5dvh 3dvh #851d2d,
                -0.5dvh -0.5dvh 3dvh #b5273d;
    margin: 1dvh;
}

.welcome p {
    margin: 1dvh 3dvh 1dvh 3dvh;
    font-size: var(--three);
}

.slower {
    font-size: var(--two);
}

.cn {
    display: flex;
    flex-direction: column;

    margin: 1dvh;
    padding: 1dvh;
    border: none;
    border-radius: 1dvh;
    box-shadow: var(--neuro);

    width: var(--cnw);

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transform: translateY(0dvh);
    word-wrap: break-word;
}

.cn:hover {
    transform: translateY(-1dvh);
}

.cn.soilbout2 {
    box-shadow: 0.5dvh 0.5dvh 3dvh var(--c1), -0.5dvh -0.5dvh 3dvh var(--c2), inset 2dvh 2dvh 4dvh #b905c0, inset -2dvh -2dvh 4dvh #ff07ff;
    background-color: #e206ea;
}
.soilbout2 .tt {
    color: #f6fffa;
    text-shadow: 0 0 1dvh #a60e98;
}
.cn.nowonderwhy2 {
    box-shadow: 0.5dvh 0.5dvh 3dvh var(--c1), -0.5dvh -0.5dvh 3dvh var(--c2), inset 0.5dvh 0.5dvh 1dvh #3e5d1b, inset -0.5dvh -0.5dvh 1dvh #5a8527;
    background-color: #4b7020;
}
.nowonderwhy2 .tt {
    color: #fcfcfc;
    text-shadow: 0 0 1dvh #1f491a;
}
.cn.mz2 {
    box-shadow: 0.5dvh 0.5dvh 3dvh var(--c1), -0.5dvh -0.5dvh 3dvh var(--c2), inset 0.5dvh 0.5dvh 1dvh #1b174c, inset -0.5dvh -0.5dvh 1dvh #251f66;
    background-color: #201b59;
}
.mz2 .tt {
    color: #ffb6ff;
    text-shadow: 0 0 1dvh #be78e2;
}

.face.nowonderwhy,
.face.soilbout,
.face.mz {
    min-width: var(--cnf);
    min-height: var(--cnf);
    border-radius: 0.5dvh;
    margin-bottom: 0.5dvh;
}

.mz {
    background-image: url('../img/mz.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.nowonderwhy {
    background-image: url('../img/41iCZCwgIQL._UXNaN_FMjpg_QL85_.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.soilbout {
    background-image: url('../img/31aV+GfnMlL._UXNaN_FMjpg_QL85_.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.tt {
    line-height: 1.2;
    font-size: var(--two3s4);
}

.tt2 {
    line-height: 1;
    font-weight: 500;
    font-size: var(--three2s4);
}

.ttt {
    font-size: var(--two2s4);
    margin: 0.5dvh;
    line-height: 1;
}

.toggle {
    font-size: var(--two2s4);
}

.rednew {
    border: none;
    border-radius: 0.5dvh;
    background-color: #b5273d;
    color: #fff;
    padding: 0.5dvh;
    font-size: var(--two);
    margin: 0.5dvh;
}

@media screen and (max-width: 1024px) {
    @media screen and (max-height: 1368px) {
        :root {
            --two: 2.25dvh;
            --two2s4: 2.75dvh;
            --two3s4: 3.25dvh;
            --three: 3dvh;
            --three2s4: 3.75dvh;
    
            --cnw: 60dvh;
            --cnf: 27dvh;
        }
        .cnc {
            flex-direction: column;
            align-items: stretch;
        }
        .cn {
            flex-direction: row;
            align-items: stretch;
        }
    
        .tavslaiks {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }
    
        .tavslaiks2 {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }
    
        .welcome {
            flex-direction: column;
        }
        .welcome p {
            text-align: center;
        }
    }
    @media screen and (max-height: 600px) {
        :root {
            --ty: translateY(-9.5dvh);
            --two: 4dvh;
            --two2s4: 5dvh;
            --two3s4: 6.25dvh;
            --three: 4.5dvh;
            --three2s4: 7dvh;
            --four: 6dvh;
            --five: 10vh;
    
            --cnw: 100dvh;
            --cnf: 47dvh;
            --img: 30dvh;
        }
        .cnc {
            flex-direction: column;
            align-items: stretch;
        }
        .cn {
            flex-direction: row;
            align-items: stretch;
        }
    
        .tavslaiks {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }
    
        .tavslaiks2 {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }
    
        .welcome {
            flex-direction: column;
        }
        .welcome p {
            text-align: center;
        }
    }
}

@media screen and (max-width: 799px) {
    :root {
        --two: 2dvh;
        --two2s4: 2.5dvh;
        --two3s4: 2.75dvh;
        --three: 2.5dvh;
        --three2s4: 3.5dvh;
        --four: 4dvh;
        --five: 5dvh;
    
        --cnw: 30dvh;
        --cnf: 28dvh;
        --img: 20dvh;
    }

    @media screen and (max-height: 1024px) {
        :root {
            --two: 2.25dvh;
            --two2s4: 2.75dvh;
            --two3s4: 3.25dvh;
            --three: 3dvh;
            --three2s4: 3.75dvh;
    
            --cnw: 60dvh;
            --cnf: 27dvh;
        }
        .cnc {
            flex-direction: column;
            align-items: stretch;
        }
        .cn {
            flex-direction: row;
            align-items: stretch;
        }
    
        .tavslaiks {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }
    
        .tavslaiks2 {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }
    
        .welcome {
            flex-direction: column;
        }
        .welcome p {
            text-align: center;
        }
    }
}

@media screen and (max-width: 679px) {
    :root {
        --cnw: 28dvh;
        --cnf: 26dvh;
        --three2s4: 3.25dvh;
    }
}

@media screen and (max-width: 639px) {
    :root {
        --cnw: 25dvh;
        --cnf: 23dvh;
        --three2s4: 2.75dvh;
        --two2s4: 2.25dvh;
    }
}

@media screen and (max-width: 589px) {
    :root {
        --cnw: 24dvh;
        --cnf: 22dvh;
        --two3s4: 2.5dvh;
        --three: 2.25dvh;
        --three2s4: 2.75dvh;
    }
}

@media screen and (max-width: 559px) {
    :root {
        --two2s4: 2.35dvh;
        --three2s4: 2.5dvh;

        --cnw: 22dvh;
        --cnf: 20dvh;
    }
    @media screen and (max-height: 720px) {
        :root {
            --two: 2.25dvh;
            --two2s4: 2.75dvh;
            --two3s4: 3.25dvh;
            --three: 3dvh;
            --three2s4: 3.75dvh;
    
            --cnw: 60dvh;
            --cnf: 27dvh;
        }
        .cnc {
            flex-direction: column;
            align-items: stretch;
        }
        .cn {
            flex-direction: row;
            align-items: stretch;
        }
    
        .tavslaiks {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }
    
        .tavslaiks2 {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }
    
        .welcome {
            flex-direction: column;
        }
        .welcome p {
            text-align: center;
        }
    }
}

@media screen and (max-width: 519px) {
    :root {
        --two: 2.25dvh;
        --two2s4: 2.75dvh;
        --two3s4: 3.25dvh;
        --three: 3dvh;
        --three2s4: 3.75dvh;

        --cnw: 60dvh;
        --cnf: 27dvh;
    }
    .cnc {
        flex-direction: column;
        align-items: stretch;
    }
    .cn {
        flex-direction: row;
        align-items: stretch;
    }

    .tavslaiks {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .tavslaiks2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .welcome {
        flex-direction: column;
    }
    .welcome p {
        text-align: center;
    }
}

@media screen and (max-width: 449px) {
    :root {
        --two: 2.25dvh;
        --two2s4: 2.5dvh;
        --two3s4: 2.75dvh;
        --three: 2.75dvh;
        --three2s4: 3.5dvh;

        --cnw: 50dvh;
        --cnf: 17dvh;
    }

    @media screen and (max-height: 932px) {
        :root {
            --cnw: 40dvh;
            --cnf: 17dvh;
        }
    }
}

@media screen and (max-width: 359px) {
    :root {
        --two: 2dvh;
        --two2s4: 2.25dvh;
        --two3s4: 2.5dvh;
        --three: 2.35dvh;
        --three2s4: 3.25dvh;
        --five: 4.5dvh;

        --cnw: 45dvh;
        --cnf: 14dvh;
        --img: 17dvh;
    }
}

@media screen and (max-width: 280px) {
    :root {
        --cnw: 35dvh;
        --cnf: 14dvh;
        --img: 17dvh;
    }
}