@font-face {
    font-family: jack;
    src: url(../fonts/JackCondensed.ttf);
}

@font-face {
    font-family: a;
    src: url(../fonts/andalemo.ttf);
}

*, body {
    color: white;
    font-family: jack;
}

body {
    background-color: black;
}

#question {
    display: none;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#result {
    display: none;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#settings {
    display: none;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    animation-fill-mode: forwards;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
}
#credits {
    display: none;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    animation-fill-mode: forwards;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#loading {
    display: flex;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#loading .ls {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 800px;
    align-items: flex-start;
    font-size: 20px;
}

.skipon {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.skipoff {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.split {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding: 16px;
    font-size: 22px;
}

.split li {
    list-style-type: disc;
}

.rate {
    border: #fff solid 4px;
    border-radius: 20px;
    width: 160px;
    margin: 8px;
    padding:  8px;
}

.rate p {
    font-size: 26px;
    text-align: center;
}

.rate .twn {
    font-size: 122px;
    text-align: center;
    background-color: #fff;
    border: #fff solid 4px;
    border-radius: 10px;
    color: #000;
}

#intro, #preintro {
    display: none;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#logot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#intro img {
    background-color: rgba(255, 255, 255, 0);
    max-width: 100%;
    max-height: 100%;
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: -1;
}

#introText{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 42px;
    line-height: 1;
}

#categoryText{
    position: absolute;
    top: 100px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    font-size: 36px;
    line-height: 1;
    color: #9933ff;
    width: 700px;
}

#questionText{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 42px;
    line-height: 1;
}

#selectedOption {
    padding-top: 100px;
    text-align: left;
    font-size: 36px;
    line-height: 1;
    color: #ff0000;
    width: 650px;
}

#explanation {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 42px;
    line-height: 1;
}

#setp {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 64px;
    line-height: 1;
}

#dt {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 1;
    text-align: center;
    padding-top: 96px;
    font-size: 32px;
    line-height: 1;
}

ol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
}

.seli {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    max-width: 650px;
    padding: 0px;
    margin: 0px;
    border: #ffffff00 solid 2px;
    border-radius: 24px;
}

li p {
    font-size: 36px;
    color: #a5ff00;  
    padding-right: 18px;
}

.n {
    color: #9933ff;
    border: #ffffff00 solid 2px;
    background-color: #ffffff00;
    border-radius: 36px;
    font-size: 36px;
    padding-right: 14px;
    padding-left: 14px;
}

.active {
    color: #ff0000;
    border: #ffffff00 solid 2px;
    background-color: #ffffff00;
    border-radius: 36px;
    font-size: 36px;
    padding-right: 14px;
    padding-left: 14px;
}

.hover {
    color: #ff0000;
    border: #fff solid 2px;
    background-color: #ffffff00;
    border-radius: 36px;
    font-size: 36px;
    padding-right: 14px;
    padding-left: 14px;
}

.clicked {
    color: #ff0000;
    border: #ffffff00 solid 2px;
    background-color: #ffffff00;
    border-radius: 36px;
    font-size: 36px;
    padding-right: 14px;
    padding-left: 14px;
}

.red {
    color: #ff0000;
    border: #fff solid 2px;
    background-color: #ffffff00;
    border-radius: 24px;
}

.cp {
    color: #ff0000;
}

.seou {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#seli {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    text-align: left;
    max-width: 650px;
    align-items: stretch;
}

#seli li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.eye {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#dev {
    display: none;
    position: absolute;
    bottom: 32px;
    height: 20%;
    width: 100%;
    line-height: 1;
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#devgui {
    display: none;
    background-color: #012187;
    color: rgba(251, 255, 0);
    width: 600px;
    border: none;
    border-radius: 24px;
    font-size: 24px;
    line-height: 1;
    padding: 8px;
    margin: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

#devgui button{
    background-color: #00000000;
    color: rgba(251, 255, 0);
    width: auto;
    height: 28px;
    border: none;
    border-radius: 24px;
    font-size: 24px;
    line-height: 1;
    z-index: 3;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 50;
}

#devgui h2{
    text-align: center;
}

.lefttoright {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.1);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

button {
    background-color: #012187;
    color: rgba(251, 255, 0);

    cursor: pointer;
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 24px;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}

.btp {
    padding-right: 18px;
    padding-left: 18px;
}

.btnw {
    height: auto;
    width: auto;
    font-size: 26px;
    font-weight: 500;
    padding: 8px;
}

#sad {
    position: absolute;
    bottom: 0px;
    padding: 8px;
    background-color: #ffffff00;
    z-index: 4;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#sad p {
    font-family: a;
    background-color: #ffffff00;
    color: #ffffff1f;
    z-index: 2;
    font-weight: 100;
    font-size: 18px;
    padding-right: 18px;
    padding-left: 18px;
}

.pspan{
    color: #9933ff;
}

#a {
    cursor: pointer;
}